<!-- == /Color schemes == -->

<section class="about section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Let’s Introduce <span>Ourselves</span></h2>
            <span class="s-title-icon"><i class="icofont icofont-diamond"></i></span>
        </div>
        <div class="row">
            <!-- About image -->
            <div class="col-md-6">
                <a href="#" class="img-about">
                    <img src="~/Content/Assets/image/about/dummy-image.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6">
                <div class="about-details">
                    <h5>WHAT WE ARE</h5>
                    <p>
                        Welcome to Golden Number Exchange - Affordable and memorable mobile telephone numbers. We supply a huge range of memorable and unique mobile numbers to a huge range of clients.Including all networks in the PK : Jazz, Warid, Ufone, Telenor, Zong
                        Unique mobile numbers, often called Platinum Numbers, Diamond Numbers,Gold Numbers and many other names are extremely useful in advertising & promoting your business.
                    </p>
                    <h5>Precaution</h5>
                    <p>
                        Please be aware that we ONLY have ONE customer service number +923200000058. We only sell numbers via our website. We don't contact customers by any means to push sell. If you are contacted by other numbers rather than +923200000058 and they say they are selling for vipnumbers, PLEASE NOTE IT IS A SCAM. We are not responsible for any numbers that are not purchased from our website or through our customer service number +923200000058
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br /><h3>What Do We Provide</h3>
                <p>
                    Have a mobile number than your customs will remember!<br />

                    Golden numbers exchange consists of a processional and a qualified team.Golden number exchange team is highly knowledgeable and resourceful in this field and are confident in their ability to create an easy and fully satisfying buying and selling experience. Our duty is to provide our clients with exclusive and tailored services, personalised to their needs.100% customer service satisfaction is our aim. If you need exclusive services, member of our team can meet you in person.If you are looking for a particular number we can do our best to help, or find something as close as possible on the market. Purchasing an exclusive Number can be an exciting time, whether it is for business or personal use, and we are excited to be a part of the process.
                </p>
            </div>


        </div>
    </div>
</section>


<section class="testimonial section-padding-top bg-silver">
    <div class="container">
        <div class="section-title">
            <h2>WHAT OUR <span>CLIENTS</span> SAY</h2>
            <span class="s-title-icon"><i class="icofont icofont-diamond"></i></span>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class=" testimonial-slide one-item">
                    <div id="testimonial" class="swiper-wrapper owl-carousel">
                        <div class="swiper-slide">
                            <div class="testimonial-item style-4">
                                <div class="testimonial-thumb">
                                    <!-- image -->
                                    <img src="~/Content/testimonial1.jpg" />

                                </div>
                                <div class="review-txt">
                                    <span>“</span>
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                    <span>”</span>
                                </div>
                                <div class="reviewer-details">
                                    <h3 class="reviewer-name"> - Collis Ta'eed</h3>
                                    <h4 class="reviewer-deg">XYZ Inc.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style-4">
                                <div class="testimonial-thumb">
                                    <!-- image -->
                                    <img src="~/Content/testimonial2.jpg" />
                                </div>
                                <div class="review-txt">
                                    <span>“</span>
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                    <span>”</span>
                                </div>
                                <div class="reviewer-details">
                                    <h3 class="reviewer-name"> - jara jordan</h3>
                                    <h4 class="reviewer-deg">XYZ Inc.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style-4">
                                <div class="testimonial-thumb">
                                    <!-- image -->
                                    <img src="~/Content/testimonial3.jpg" />
                                </div>
                                <div class="review-txt">
                                    <span>“</span>
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                    <span>”</span>
                                </div>
                                <div class="reviewer-details">
                                    <h3 class="reviewer-name"> - mila john</h3>
                                    <h4 class="reviewer-deg">XYZ Inc.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />
