
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section >
    <div class="container">
        <center>
            <div style="margin-bottom:5px">
                <br />
                <h2>Blogs</h2>

            </div>
        </center>
    </div>
</section>
<!-- start blog-main-section -->
<section class="blog-main-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <div class="blog-grids-s2 blog-content-wrapper">
                    <div class="row">
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>
                                           
                                        </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>
                                                                                   </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>
                                           
                                        </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 m-b-30">
                            <div class="grid">
                                <div class="entry-header">
                                    <img src="~/Content/Assets/image/blog/dummy-image.jpg" alt="" class="img img-responsive">
                                </div>
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="fa fa-user"></i>Post by: <a href="#">admin</a></li>

                                        </ul>
                                    </div>
                                    <div class="entry-details">
                                        <h3><a href="#">First Firework in New York City</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed do eiusmod tempor incididunt ut labore</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

    </div> <!-- end container -->
</section>
<!-- end blog-main-section -->
