
@{
    ViewBag.Title = "TermCondition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-7 col-xs-12">
                <div class="panel-group accordion-s1" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">Terms and Conditions</a>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Terms and conditions will enable you to use our website effectively. Kindly read and follow these terms and conditions in order to avoid any miscommunication or illegal activity.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">Website Access</a>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>a.	It is not necessary to register with us in order to use our website, which makes our website easy to use and less laborious.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false">Website Uptime</a>
                        </div>

                        <div id="collapsethree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>
                                    a.	Our team makes sure that the website is available 24/7 for all the user. However, occasionally technical issues may result in some downtime and accordingly we will not be liable if the website is unavailable at any time.

                                </p>
                                <p>
                                    b.	Where possible we will make sure to indicate the maintenance issues.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false">Links to and from another Website </a>
                        </div>

                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>a.	You may find some links on this website, that may be either parent or child website of this website. We will completely take responsibility of those linked sites.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive"  aria-expanded="false">Cancellations, Returns and Funds</a>
                        </div>

                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    a.	All the Premium numbers will have advance booking and that advance will not be refundable if customer cancels the deal.

                                </p>
                                <p>
                                    b.	In case of number sled by customer, all the due payments must be clear.

                                </p>
                                <p>
                                    c.	In case of any issue during or after the transfer we will be responsible and try our best to resolve the issue.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-dropeffect="none" href="#collapsesix" aria-expanded="false">Transfer Rules</a>
                        </div>

                        <div id="collapsesix" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <b>All of these rules are obeyed according to the jurisdiction of PTA</b>
                                <p>
                                    a.	National Identity Card is must
                                </p>
                                <p>
                                    b.	Enough space on your name

                                </p>
                                <p>
                                    c.	Valid Identity Card (non-expired)

                                </p>
                                <p>
                                    d.	Signed transfer paper provided by our team
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false">Law and Jurisdiction</a>
                        </div>

                        <div id="collapseseven" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <p>
                                    These terms and conditions are governed by PTA law. Any dispute arising in connection with these terms and condition shall be subjected to Court.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="faq-text text-center">
                    <h1>T&C</h1>
                    <h5><span>T</span>erms <span>A</span>nd <span>C</span>onditions</h5>
                </div>
            </div>
        </div> <!-- end row -->

        
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $(".panel-body").hide();
        $("#collapseseven").hide();
      

    });

</script>